.jobs {
    padding: 50px 0 100px;
    background: $grey-bg;

    @media (max-width: 1150px) {
        padding: 30px 0 60px;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__faq {
        display: grid;
        row-gap: 24px;

        &-field {
            background: $white-bg;
            border-radius: 5px;
        }

        &-name {
            padding: 20px 22px;
            display: flex;
            align-items: center;
            gap: 18px;
            font-weight: 500;
            @include fontAdaptive(18, 14);
            cursor: pointer;

            @media (min-width: 2560px) {
                font-size: 18px;
            }

            @media (max-width: 414px) {
                padding: 8px;
                gap: 8px;
            }

            svg {
                margin-left: auto;
                transition: .2s;

                &.rotate {
                    transform: rotate(45deg);
                }
            }
        }

        &-body {
            
            &.invisible {
                visibility: hidden;
                opacity: 0;
                height: 0;
                transition: opacity 0.3s, height 0.3s, visibility 0.3s;
            }
            
            &.visible {
                visibility: visible;
                opacity: 1;
            }
        }

        &-desc {
            padding: 16px 22px;
        }

        &-title {
            color: $text-first-color;
            @include fontAdaptive(24, 16);
            margin-bottom: 12px;

            @media (min-width: 2560px) {
                font-size: 24px;
            }
        }

        &-list {
            list-style: disc;
            padding-left: 20px;
            max-width: 792px;
            width: 100%;
            display: grid;
            row-gap: 8px;
        }

        &-item {
            color: $text-first-color;
            @include fontAdaptive(18, 14);
            @media (min-width: 2560px) {
                font-size: 18px;
            }
        }
    }
}