$primary-color-first: #4473c5;
$primary-color-second: #739ce2;
$primary-color-third: #71a5ff;

$secondary-color-first: #ffbf01;
$secondary-color-second: #ffcf41;
$secondary-color-third: #ffdc73;

$btn-hover: #294576;
$btn-active: #1B2E4F;

$text-first-color: #191B1F;
$text-second-color: #6A7181;
$text-third-color: #9DA3AF;
$text-forth-color: #D2D5DA;
$grey-bg: #E6E7EA;
$white-bg: #F9FAFB;
