.news {
    padding: 80px 0 77px;
    background: $grey-bg;

    @media (max-width: 1150px) {
        padding: 36px 0 60px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 50px;

        @media (max-width: 414px) {
            margin-bottom: 24px;
        }
    }

    &__controllers {
        max-width: 178px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 680px) {
            display: none;
        }

        @media (max-width: 480px) {
            justify-content: center;
        }

        &-prev,
        &-next {
            cursor: pointer;
            
            &.swiper-button-disabled {
                svg path {
                    stroke: $text-second-color;
                }
            }

            svg path {
                stroke: $text-first-color;
            }

            @media (max-width: 480px) {
                display: none;
            }
        }
    }

    &__pagination {
        display: flex;
        @include fontAdaptive(40, 28);
        line-height: 120%;
        color: $text-second-color;
        
        .swiper-pagination-current {
            color: $text-first-color;
        }

        @media (min-width: 2560px) {
            font-size: 40px;
        }
    }

    &__slider {
        margin-bottom: 50px;

        @media (max-width: 414px) {
            margin-bottom: 24px;
        }
    }
    
    &__slide {
        display: grid;
        position: relative;
        padding: 20px 15px 30px 30px;
        min-height: 400px;
        max-height: 400px;
        background: rgba(0, 0, 0, 0.5);
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        transition: .4s;

        @media (max-width: 576px) {
            padding: 15px;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.3);

            .news__slide-txt {
                color: $white-bg;
                column-gap: 25px;
                
                svg path {
                    stroke: $white-bg;
                }
            }
        }

        &-banner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
            z-index: -1;
        }

        &-content {
            position: relative;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            height: 100%;
        }
        
        &-date {
            color: $text-third-color;
            font-size: 18px;
        }

        &-title {
            color: $white-bg;
            line-height: 120%;
            font-size: 18px;
        }
        
        &-txt {
            display: flex;
            align-items: center;
            column-gap: 15px;
            color: $text-forth-color;
            margin-top: auto;
            font-size: 18px;
            transition: .4s;

            svg path {
                transition: .4s;
            }
        }
    }

    &__btn {
        max-width: 302px;

        svg path {
            transition: .4s;
        }

        &:hover {
            svg path {
                stroke: $white-bg;
            }
        }
    }
}

._news {
    padding: 50px 0 100px;

    @media (max-width: 1150px) {
        padding: 36px 0 60px;
    }
    
    &__title {
        margin-bottom: 16px;
    }
    
    &__count {
        color: $text-second-color;
        font-size: 18px;
        margin-bottom: 50px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        gap: 32px 24px;
    }
}

.new {
    padding: 50px 0 100px;

    @media (max-width: 1150px) {
        padding: 36px 0 60px;
    }

    &__content {

        &-top {
            display: flex;
            gap: 30px;
            align-items: center;
            margin-bottom: 16px;

            @media (max-width: 414px) {
                gap: 12px;
            }

            span {
                display: flex;
                align-items: center;
                gap: 5px;
                @include fontAdaptive(18, 14);

                @media (min-width: 2560px) {
                    font-size: 18px;
                }
            }
        }

        &-time {
            color: $text-second-color;
        }

        &-title {
            color: $text-first-color;
            @include fontAdaptive(46, 24);
            line-height: 120%;
            font-weight: 500;
            margin-bottom: 30px;

            @media (min-width: 2560px) {
                font-size: 46px;
            }
        }

        &-banner {
            width: 100%;
            max-height: 550px;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        &-success {
            text-align: center;
            color: $text-third-color;
            font-size: 14px;
            margin-bottom: 50px;
        }

        h3.new__content-title {
            max-width: 792px;
            width: 100%;
            margin-bottom: 24px;
            @include fontAdaptive(32, 22);
            font-weight: 700;

            @media (min-width: 2560px) {
                font-size: 32px;
            }
        }

        &-txt {
            font-size: 18px;
            color: $text-first-color;
            line-height: 140%;
            margin-bottom: 24px;
        }

        &-author {
            color: $text-first-color;
            font-size: 18px;
            font-weight: 500;

            span {
                color: $text-second-color;
            }
        }
    }
}